@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

main {
    margin-right: 4rem;
    margin-left: 4rem;
}

@media only screen and (max-width: 970px) {
    main {
        margin-left: 2rem;
        /* Adjusted margin for smaller screens */
        margin-right: 2rem;
        /* Adjusted margin for smaller screens */
    }
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 150px;

}

/* this is the red zone */
@media(min-width:1000px) {
    #f {
        display: none;
    }
}

.fetures {
    height: 40px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-bottom: #2B394e 2px;
    margin-bottom: 2rem;

}

#f {
    color: #2B394e;
    font-weight: 700;
    text-decoration: underline wavy #EDEDF1 5px;
}

#f-v {
    font-size: small;
    font-weight: 900;
    word-spacing: 10px;
}

#f-v-d {
    font-size: small;
    font-weight: 900;
    word-spacing: 10px;
}

/* this is the red zone */


#side-menu-ul>li {
    list-style: none;
    display: flex;
    position: relative;
}
#side-menu-ul>li::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c6c6c8;
    position: absolute;
    left: -15%; /* Adjust as needed */
    top:50%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#side-menu-ul>li:hover::before {
    opacity: 1;
    cursor: pointer;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.nav-link {
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #2B394e;
    font-weight: 800;
    position: relative;

}
.sign-in {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #2B394e;
    font-weight: 800;
    position: relative;


}
.sign-in::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c6c6c8;
    position: absolute;
    right: -5px; /* Adjust as needed */
    top: -1%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.sign-in:hover::before {
    opacity: 1;
}
.nav-link::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c6c6c8;
    position: absolute;
    right: -8px; /* Adjust as needed */
    top: -1%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-link:hover::before {
    opacity: 1;
}



.sign-up {
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    padding: 12px 22px;
    color: #FFFFFF;
    background-color: #646eff;
    border-radius: 30px;
}

.icons {
    font-size: 25px;
}

.logo {
    margin-left: -7rem;
}

/* for dot icons bar */
.dot-bar {
    position: relative;
}

.icon-nav {
    width: 155px;
    height: 250px;
    position: absolute;
    top: 100%;
    left: -2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #EDEDF1;
    border-radius: 15px;
    display: none;
}

.nva-icon {
    display: flex;
}

.nav-bar {
    padding: 5px;
    text-decoration: none;
    color: #2B394e;
    font-weight: 900;
    margin-left: 2rem;
    position: relative;
}
.nav-bar::before {
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #c6c6c8;
    position: absolute;
    right: -5px; /* Adjust as needed */
    top: -1%;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.nav-bar:hover::before {
    opacity: 1;
}

@media(max-width:1020px) {
    #nav {
        display: none;
    }

    #img {
        margin-left: 7rem;
    }

    .sign-up,
    .sign-in,
    .search {
        display: none;
    }

    #bar {
        display: flex;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 120px;
    }
}

/* work for menubar */
.for-toggle {
    display: flex;
}

.bar {
    text-decoration: none;
    margin-left: 1rem;
    display: none;
}

.menu {
    display: none;
    /* Initially hide the menu */
}

.menu.visible {
    display: flex;
    /* Display the menu when visible class is added */
}

/* .menu-button {
    cursor: pointer;
  } */
/* to asing reletive */
.signup {
    position: relative;
}

.side-menu {
    position: absolute;
    top: 5rem;
    right: 3rem;
    /* padding-left: 4rem;
    padding-right: 1rem; */
    width: 200px;
    /* height: 77vh; */
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #EDEDF1;
    border-radius: 20px;
    font-weight: 900;
    flex-direction: column;
    display: none;
}

#side-menu-ul>li {
    padding-top: 10px;
    margin-right: 1rem;
    cursor: pointer;

}

.li-up-1 {
    margin-top: .20rem;
    background-color: #3a45de;
    padding: 10px;
    border-radius: 30px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

}

.h2-container {
    width: 100%;
    height: 50px;
    background-color: #3a45de;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1.5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.search-bar-menu {
    color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 10px;

}

/* for class list sidemenu */
.x-time {
    transition: 0.2s;
    position: relative;

}

.bars {
    margin-left: 3rem;
}

/* working for divs */

@media(max-width:1000px) {
    .post-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
        min-height: 321px;
        max-height: 500px;
        margin-right: 2rem;

    }

    .para {
        margin-right: 1rem;
        font-weight: 800;
    }

    .author {
        font-size: 13px;
        margin-right: 2rem;
        font-weight: 700;
        margin-top: .60rem;
    }

    .para-div {
        margin-top: 20px;
        /* margin-left: 1rem; */
    }

    /* #post1 {
        width: 100%;
        height: auto;
    } */
    /* #post2{
        width: 50%;
    } */
    /* #post3 {
        width: 50%;
    }
    #post4 {
        width: 50%;
    }
    #post1 {
        width: 50%;
    } */

    /* .posts {
        margin-top: 0;
        height: auto;
        background-color: #d2f8f0;
        text-align: start;
        border-radius: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        transition: transform 0.2s ease;
        width: 100%;
        min-height: 100px;
    } */
    .featur {
        display: none;
    }

    #img1 {
        height: 180px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    #img4 {
        height: 180px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

    #img2 {
        height: 180px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

    #img3 {
        height: 180px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;

    }

}

@media(max-width:560px) {
    .post-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: 100%;
        flex-wrap: wrap;
        word-wrap: break-word;
        word-break: break-word;

    }

    .posts {
        /* padding:15px; */
        width: 234px;
        background-color: #d2f8f0;
        ;
        text-align: start;
        border-radius: 20px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        max-height: auto;
        min-height: 290px;
        transition: transform 0.2s ease;
    }

    .para {
        margin-right: 1rem;
        font-weight: 800;
    }

    .author {
        font-size: 13px;
        margin-right: 2rem;
        font-weight: 700;
        margin-top: .60rem;
        display: none;
    }

    .para-div {
        margin-top: 20px;
        /* margin-left: 1rem; */
    }

    #post1 {}

    .posts {
        /* padding:15px; */
        margin-top: 0;
        width: 187px;
        height: auto;
        background-color: #d2f8f0;
        text-align: start;
        border-radius: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        /* max-height: auto; */
        transition: transform 0.2s ease;
        min-height: 100px;
    }

    .featur {
        display: none;
    }
}

@media(max-width:540px) {
    .post-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        height: 100%;
        flex-wrap: wrap;
        word-wrap: break-word;
        word-break: break-word;
        margin-bottom: 2rem;
    }

    .posts {
        /* padding:15px; */
        margin-top: 0;
        height: auto;
        background-color: #d2f8f0;
        text-align: start;
        border-radius: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        /* max-height: auto; */
        transition: transform 0.2s ease;
        min-height: 100px;
        max-height: 280px;
        width: 100%;

    }

    #post4 {
        /* margin-top: 20px; */
        min-height: 100px;
        min-height: 100px;
        max-height: 280px;
        width: 100%;

    }

    #post2 {
        background-color: #fce6f0;
        height: 215px;
        width: 100%;
    }

    #post1 {
        height: 215px;
        width: 100%;
    }

    #post3 {
        max-height: 215px;
        width: 100%;
    }

    #img1 {
        height: 180px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }

    .img4 {
        height: 180px;
        width: 180px;
        border-radius: 20px;
        object-fit: cover;

    }

    .img2 {
        height: 180px;
        width: 180px;
        border-radius: 20px;
        object-fit: cover;

    }

    .img3 {
        height: 180px;
        width: 180px;
        border-radius: 20px;
        object-fit: cover;

    }


}

.post-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
    min-height: 321px;
    max-height: 1000px;
    width: 100%;
    margin-bottom: 4rem;
}

.posts {
    /* padding:15px; */
    width: 204px;
    background-color: #d2f8f0;
    ;
    text-align: start;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: auto;
    min-height: 290px;
    transition: transform 0.2s ease;
}

.posts:hover {
    transform: translateY(-5px);
}

.para-div {
    margin-top: 1rem;
    margin-left: 1rem;
}

.img1 {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;
}

.img4 {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;

}

.img2 {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;

}

.img3 {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;

}

.img5 {
    height: 180px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;

}

.post5 {
    display: none;
    min-height: 100px;
}

@media(min-width:1350px) {
    .post5 {
        display: flex;
    }
}

.para {
    margin-right: 1rem;
    font-weight: 800;
}

.author {
    font-size: 13px;
    margin-right: 2rem;
    font-weight: 700;
    margin-top: .60rem;
}

.author:hover {
    text-decoration: underline #2B394e;
}

/* for aling self */
#post3 {
    /* margin-top: 20px; */
    background-color: #ffeab9;
    min-height: 100px;

}

#post4 {
    /* margin-top: 20px; */
    min-height: 100px;

}

#post2 {
    background-color: #fce6f0;
    min-height: 100px;
}

#post1 {
    min-height: 100px;
}

.featur {
    writing-mode: vertical-rl;
    /* Vertical writing mode, text goes from right to left */
    transform: rotate(180deg);
    /* Rotate the text to make it vertical */
    white-space: nowrap;
    /* Prevent text wrapping */
    font-size: 18px;
    /* Adjust font size as needed */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    /* Additional styling if needed */
    font-weight: 500;
    margin-left: -3rem;
}



/* for hero img  */


@media(max-width:890px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 450px;
        width: 662px;

    }

    #lorem {
        margin-top: 1rem;
        font-style: italic;
        font-weight: 500;
        display: flex;

    }
}

@media(max-width:550px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 450px;
        width: 448px;
    }

    #about-img {
        width: 437px;
        height: 507px;
    }

    #title {
        font-size: 48px;
        font-weight: 800;
        color: #2B394e;
        line-height: 60px;
    }

}

@media(max-width:486px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 339px;
        width: 415px;
    }

    #about-img {
        width: 412px;
        height: 433px;
    }

    #title {
        font-size: 36px;
        font-weight: 800;
        color: #2B394e;
        line-height: 40px;
        margin-bottom: 2rem;
    }
}

@media(max-width:432px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 339px;
        width: 375px;
    }

    #about-img {
        width: 375px;
        height: 433px;
    }
}

@media(max-width:390px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #title {
        font-size: 32px;
        font-weight: 800;
        color: #2B394e;
        line-height: 40px;
        margin-bottom: 2rem;
    }

    #img-full {
        height: 339px;
        width: 347px;
    }

    #about-img {
        width: 340px;
        height: 433px;
    }
}

@media(max-width:360px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 339px;
        width: 317px;
    }

    #about-img {
        width: 310px;
        height: 433px;
    }
}

@media(max-width:330px) {
    .hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    #img-full {
        height: 280px;
        width: 266px;
    }

    #about-img {
        width: 260px;
        height: 433px;
    }
}

@media(min-width:1400px) {
    #hero-img {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        height: 80%;
    }

    #title {
        font-size: 32px;
        font-weight: 800;
        color: #2B394e;
        line-height: 40px;
        margin-bottom: 2rem;
    }

    #img-full {
        height: 709px;
        width: 747px;
    }

    #about-img {
        width: 500px;
        height: 500px;
    }

    #lorem {
        margin-top: 1rem;
        font-style: italic;
        font-weight: 500;
        display: flex;

    }
}

#main {
    margin: 4rem;
}

.hero-img {
    margin-top: 4rem;
    padding-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.about-img {
    width: 500px;
}

.img-full {
    background-image: url(hero.jpeg);
    height: 500px;
    max-height: 600px;
    width: 532px;
    max-width: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
}

.creative {
    border-radius: 20px;
    text-decoration: none;
    background-color: #d2f8f0;
    margin-bottom: 1.80rem;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.create {
    text-decoration: none;
}

/* .creative{
    text-decoration: none;
    padding: 10px;

} */
.title {
    font-size: 54px;
    font-weight: 800;
    color: #2B394e;
    line-height: 60px;
}

.lorem {
    margin-top: 1rem;
    font-style: italic;
    font-weight: 500;
    display: none;

}

.round {
    border-radius: 50%;
}

.round-img-author {
    display: flex;
    justify-content: start;
    margin-top: 2rem;

}

#round1 {
    border: 2px solid white;
    z-index: 1;
}

#round2 {
    margin-top: 2px;
    margin-left: -10px;
}

.authors-name {
    margin-left: 1rem;
    font-weight: 500;
}


/* down post container */
.new-posts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 4rem;
}

.d-post1 {
    height: 563px;
    width: 333px;
    border-radius: 40px;
    background-color: #d2f8f0;
    position: relative;
    transition: transform 0.2s ease;
}

.d-post1:hover {
    transform: translateY(-5px);
}

.d-post2 {
    height: 563px;
    width: 333px;
    border-radius: 40px;
    background-color: #d2f8f0;
    position: relative;
    transition: transform 0.2s ease;
}

.d-post2:hover {
    transform: translateY(-5px);
}

.d-post3 {
    height: 563px;
    width: 333px;
    border-radius: 40px;
    background-color: #d2f8f0;
    position: relative;
    transition: transform 0.2s ease;
}

.d-post3:hover {
    transform: translateY(-5px);
}

.d-post-img1 {
    width: 100%;
    height: 330px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    object-position: center;
    object-fit: cover;
}

.d-post-img2 {
    width: 100%;
    height: 330px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.d-post-img3 {
    width: 100%;
    height: 330px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.detail-post {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 70%;
}

.s {
    font-size: 22px;
    font-weight: 900;
}

.author-d-post {
    font-weight: 700;
    margin-top: .50rem;
    font-size: 16px;
}

.author-d-post:hover {
    text-decoration: underline #2B394E;
}

.story {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    color: #2B394E;
    background-color: #0000000f;
    border-radius: 20px;
    font-weight: 800;
}

/* media for d-post divs */
@media(max-width:1050px) {
    .new-posts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        margin-bottom: 4rem;
    }

    .d-post1 {
        height: 518px;
        width: 278px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post2 {
        height: 518px;
        width: 278px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post3 {
        height: 518px;
        width: 278px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post-img1 {
        width: 100%;
        height: 300px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        object-position: center;
        object-fit: cover;
    }

    .d-post-img2 {
        width: 100%;
        height: 300px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .d-post-img3 {
        width: 100%;
        height: 300px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post {
        margin-left: 2rem;
        margin-top: .70rem;
        width: 80%;
    }

    .s {
        font-size: 20px;
        font-weight: 900;
    }

    .author-d-post {
        font-weight: 700;
        margin-top: .30rem;
        font-size: 16px;
    }
}

@media(max-width:810px) {
    .new-posts {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        margin-bottom: 3rem;
    }

    .d-post1 {
        height: 456px;
        width: 217px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post2 {
        height: 456px;
        width: 217px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post3 {
        height: 456px;
        width: 217px;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post-img1 {
        width: 100%;
        height: 240px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        object-position: center;
        object-fit: cover;
    }

    .d-post-img2 {
        width: 100%;
        height: 240px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .d-post-img3 {
        width: 100%;
        height: 240px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post {
        margin-left: 1rem;
        margin-top: .50rem;
        width: 80%;
    }

    .s {
        font-size: 17px;
        font-weight: 900;
    }

    .author-d-post {
        font-weight: 700;
        margin-top: .30rem;
        font-size: 13px;
    }
}

@media(max-width:600px) {
    .new-posts {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 3rem;
    }

    .d-post1 {
        height: 456px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post2 {
        height: 456px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post3 {
        height: 456px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post-img1 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        object-position: center;
        object-fit: cover;
    }

    .d-post-img2 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .d-post-img3 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post {
        margin-left: 2rem;
        margin-top: .50rem;
        width: 80%;
    }

    .s {
        font-size: 24px;
        font-weight: 900;
    }

    .author-d-post {
        font-weight: 700;
        margin-top: .30rem;
        font-size: 16px;
    }
}

@media(max-width:450px) {
    .new-posts {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 3rem;
    }

    .d-post1 {
        height: 456px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post2 {
        height: 500px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post3 {
        height: 500px;
        width: 100%;
        border-radius: 40px;
        background-color: #d2f8f0;
    }

    .d-post-img1 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        object-position: center;
        object-fit: cover;
    }

    .d-post-img2 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .d-post-img3 {
        width: 100%;
        height: 290px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post {
        margin-left: 2rem;
        margin-top: .30rem;
        width: 80%;
    }

    .s {
        font-size: 18px;
        font-weight: 900;
    }

    .author-d-post {
        font-weight: 700;
        margin-top: .30rem;
        font-size: 13px;
    }

    .story {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
        color: #2B394E;
        background-color: #0000000f;
        border-radius: 20px;
        font-weight: 800;
    }
}

/* detaile post 2 */
.d-post-main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.d-post-img4 {
    width: 100%;
    height: 350px;
    object-position: center;
    object-fit: cover;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.d-post4 {
    height: 532px;
    width: 519px;
    border-radius: 40px;
    background-color: #fddfd8;
    position: relative;
    transition: transform 0.2s ease;

}

.d-post5 {
    height: 532px;
    width: 519px;
    border-radius: 40px;
    background-color: #fdeacc;
    position: relative;
    transition: transform 0.2s ease;
}

.d-post4:hover {
    transform: translateY(-5px);
}

.d-post5:hover {
    transform: translateY(-5px);
}

.detail-post-4 {
    margin-left: 2rem;
    margin-top: 1rem;
}

.title-d-post-4 {
    font-size: 20px;
    font-weight: 900;
}

.author-d-post-4 {
    margin-top: 1rem;
    font-weight: 700;
}

.author-d-post-4:hover {
    text-decoration: underline;
}

.story-4 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    font-size: 12px;
    padding: 8px 10px 8px 10px;
    color: #2B394E;
    background-color: #0000000f;
    border-radius: 20px;
    font-weight: 800;
}

.btn-for-load {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.load-btn {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-radius: 47px;
    background-color: #4450ef;
    color: white;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.load-btn:hover {
    background-color: #1d28c5;
    transition: 0.2s ease;

}

/* it is for last 2 posts */
@media(max-width:800px) {
    .d-post-main-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }

    .d-post4 {
        height: 532px;
        width: 100%;
        border-radius: 40px;
        background-color: #fddfd8;
        position: relative;

    }

    .d-post5 {
        height: 532px;
        width: 100%;
        border-radius: 40px;
        background-color: #fdeacc;
        position: relative;
    }

    .d-post-img4 {
        width: 100%;
        height: 350px;
        object-position: center;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post-4 {
        margin-left: 2rem;
        margin-top: 1rem;
    }

    .title-d-post-4 {
        font-size: 20px;
        font-weight: 900;
    }

    .author-d-post-4 {
        margin-top: 1rem;
        font-weight: 700;
    }

    .author-d-post-4:hover {
        text-decoration: underline;
    }

    .story-4 {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
        color: #2B394E;
        background-color: #0000000f;
        border-radius: 20px;
        font-weight: 800;
    }
}

@media(max-width:450px) {
    main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .d-post-main-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }

    .d-post4 {
        height: 500px;
        width: 100%;
        border-radius: 40px;
        background-color: #fddfd8;
        position: relative;

    }

    .d-post5 {
        height: 500px;
        width: 100%;
        border-radius: 40px;
        background-color: #fdeacc;
        position: relative;
    }

    .d-post-img4 {
        width: 100%;
        height: 350px;
        object-position: center;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }

    .detail-post-4 {
        margin-left: 2rem;
        margin-top: .70rem;
        width: 80%;
    }

    .title-d-post-4 {
        font-size: 17px;
        font-weight: 900;
    }

    .author-d-post-4 {
        margin-top: .30rem;
        font-weight: 700;
        margin-bottom: .20rem;
    }

    .author-d-post-4:hover {
        text-decoration: underline;
    }

    .story-4 {
        position: absolute;
        bottom: 1rem;
        left: 2rem;
        font-size: 12px;
        padding: 8px 10px 8px 10px;
        color: #2B394E;
        background-color: #0000000f;
        border-radius: 20px;
        font-weight: 800;
    }
}


/* for footer subscribe btn */

.subscribe-btn-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    height: 300px;
}

.subscribe {
    font-size: 46px;
    font-weight: 900;
    padding: 25px 49px 25px 0;
}

#in-foot {
    background-color: transparent;
    padding: 1px 20px 1px 30px;
    height: 93px;
    width: 229px;
    border: none;
}

input[type="email"]:focus {
    outline: none;
}

.input-btn {
    background-color: #EDEDF1;
    border-radius: 40px;
}

/* for js classList   */
.in-btn-click {
    padding-left: 30px;
    transition: 0.5s ease;
    /* Apply transition to the transform property */
}

.in-btn-click-out {
    padding-left: -30px;
    transition: 0.5s ease;
    /* Apply transition to the transform property */
}




#in-submit {
    height: 73px;
    width: 143px;
    border-radius: 40px;
    padding: 20px 36px;
    margin-right: 10px;
    border: none;
    background-color: #4450ef;
    color: white;
    font-size: medium;
    font-weight: 900;

}

/* media for subscrie btn */
@media(max-width:1150px) {
    .subscribe-btn-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
        height: 300px;
    }

    .subscribe {
        font-size: 40px;
        font-weight: 900;
        padding: 25px 25px 25px 0;
    }

    #in-foot {
        background-color: transparent;
        padding: 1px 20px 1px 30px;
        height: 93px;
        width: 200px;
        border: none;
    }

    .btn-container {
        word-wrap: normal;
    }

    input[type="email"]:focus {
        outline: none;
    }

    .input-btn {
        background-color: #EDEDF1;
        border-radius: 40px;
    }

    /* for js classList   */
    .in-btn-click {
        padding-left: 30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }

    .in-btn-click-out {
        padding-left: -30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }




    #in-submit {
        height: 73px;
        width: 143px;
        border-radius: 40px;
        padding: 20px 36px;
        margin-right: 10px;
        border: none;
        background-color: #4450ef;
        color: white;
        font-size: medium;
        font-weight: 900;

    }

}

@media(max-width:960px) {
    .subscribe-btn-footer {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 100%;
        height: 400px;
    }

    .subscribe {
        font-size: 40px;
        font-weight: 900;
        padding: 25px 25px 25px 0;
        text-align: centers;
    }

    #in-foot {
        background-color: transparent;
        padding: 1px 20px 1px 30px;
        height: 93px;
        width: 200px;
        border: none;
    }

    .btn-container {
        word-wrap: normal;
        text-align: center;
    }

    input[type="email"]:focus {
        outline: none;
    }

    .input-btn {
        background-color: #EDEDF1;
        border-radius: 40px;
    }

    /* for js classList   */
    .in-btn-click {
        padding-left: 30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }

    .in-btn-click-out {
        padding-left: -30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }




    #in-submit {
        height: 73px;
        width: 143px;
        border-radius: 40px;
        padding: 20px 36px;
        margin-right: 10px;
        border: none;
        background-color: #4450ef;
        color: white;
        font-size: medium;
        font-weight: 900;

    }

}

@media(max-width:512px) {
    .subscribe-btn-footer {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .subscribe {
        font-size: 38px;
        font-weight: 900;
        padding: 25px 25px 25px 0;
        text-align: center;
    }

    #in-foot {
        background-color: transparent;
        padding: 1px 20px 1px 30px;
        height: 93px;
        width: 160px;
        border: none;
    }

    .btn-container {
        word-wrap: normal;
        text-align: center;
    }

    input[type="email"]:focus {
        outline: none;
    }

    .input-btn {
        background-color: #EDEDF1;
        border-radius: 40px;
    }

    /* for js classList   */
    .in-btn-click {
        padding-left: 30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }

    .in-btn-click-out {
        padding-left: -30px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }




    #in-submit {
        height: 73px;
        width: 143px;
        border-radius: 40px;
        padding: 20px 36px;
        margin-right: 10px;
        border: none;
        background-color: #4450ef;
        color: white;
        font-size: medium;
        font-weight: 900;

    }

}

@media(max-width:460px) {
    .subscribe-btn-footer {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .subscribe {
        font-size: 33px;
        font-weight: 900;
        padding: 25px 25px 25px 0;
        text-align: center;
    }

    #in-foot {
        background-color: transparent;
        padding: 1px 20px 1px 25px;
        height: 93px;
        width: 100px;
        border: none;
    }

    .btn-container {
        word-wrap: normal;
        text-align: center;
    }

    input[type="email"]:focus {
        outline: none;
    }

    .input-btn {
        background-color: #EDEDF1;
        border-radius: 40px;
    }

    /* for js classList   */
    .in-btn-click {
        padding-left: 14px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }

    .in-btn-click-out {
        padding-left: -14px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }




    #in-submit {
        height: 73px;
        width: 143px;
        border-radius: 40px;
        padding: 20px 36px;
        margin-right: 10px;
        border: none;
        background-color: #4450ef;
        color: white;
        font-size: medium;
        font-weight: 900;

    }

}

@media(max-width:348px) {
    .subscribe-btn-footer {
        padding-top: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        flex-direction: column;
        width: 100%;
        height: 600px;
    }

    .subscribe {
        font-size: 33px;
        font-weight: 900;
        padding: 25px 25px 25px 0;
        text-align: center;
    }

    #in-foot {
        background-color: transparent;
        padding: 1px 20px 1px 25px;
        height: 93px;
        width: 60px;
        border: none;
    }

    .btn-container {
        word-wrap: normal;
        text-align: center;
    }

    input[type="email"]:focus {
        outline: none;
    }

    .input-btn {
        background-color: #EDEDF1;
        border-radius: 40px;
    }

    /* for js classList   */
    .in-btn-click {
        padding-left: 14px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }

    .in-btn-click-out {
        padding-left: -14px;
        transition: 0.5s ease;
        /* Apply transition to the transform property */
    }




    #in-submit {
        height: 73px;
        width: 120px;
        border-radius: 40px;
        padding: 20px 36px;
        margin-right: 10px;
        border: none;
        background-color: #4450ef;
        color: white;
        font-size: small;
        font-weight: 900;
        text-align: center;

    }

}

/* for last footer item  */
.final-container {
    height: 25vh;
    padding-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 5rem;
    border-top: 1px solid #a9aeb5;
}

.okiro {
    margin-top: 2rem;
}

.foot-first {
    width: 40%;
    margin-left: -4rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

#img-last {
    margin-bottom: 2rem;
}

.all-foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.foooter-para {
    font-size: medium;
    font-weight: 300;
    margin-bottom: 2rem;
}

.all-icons {
    margin-right: 20px;
    color: #2B394e;
    font-size: 30px;
}

.all-icons:hover {
    color: #4952d3;
}

a {
    text-decoration: none;
}

#about {
    margin-top: 4rem;
    padding-bottom: 2rem;
    font-size: 10px;
    font-weight: 600;
}

.li-foot-last {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
}

.li-foot-last:hover {
    text-decoration: underline #2B394E;
}

.copy {
    padding-bottom: 1rem;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

@media(max-width:950px) {
    .final-container {
        height: 25vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5rem;
        /* border-top: 1px solid #a9aeb5; */
    }

    .okiro {
        margin-top: 2rem;
    }

    .foot-first {
        width: 40%;
        padding-left: 2rem;
        margin-left: -4rem;
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .copy {
        padding-bottom: 1rem;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

}

@media(max-width:750px) {
    .final-container {
        height: 40vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5rem;
        flex-direction: column;
    }

    #final-container {
        border: none;
    }

    .okiro {
        margin-top: 2rem;
        text-align: center;
    }

    .foot-first {
        width: 60%;
        padding-left: 2rem;
        margin-left: -4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #all-foot .about>ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .copy {
        padding-bottom: 1rem;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    #final-container {
        border: none;
    }
}

@media(max-width:400px) {
    .final-container {
        height: 70vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5rem;
        flex-direction: column;
    }

    #final-container {
        border: none;
    }

    .all-icons {
        margin-right: 13px;
        color: #2B394e;
        font-size: 23px;
    }

    .foooter-para {
        font-size: medium;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    .okiro {
        margin-top: 2rem;
        text-align: center;
    }

    .foot-first {
        width: 100%;
        padding-left: 2rem;
        margin-left: -4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #all-foot {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }

    .copy {
        padding-bottom: 1rem;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    #final-container {
        border: none;
    }
}





/* it is for post 1 page */
/* .post-detail-1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.post-img{
    background-image: url(post1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 710px;
    width: 700px;
}
.post1-tag-1{
    color: #2B394E;
    padding: 12px 12px 10px;
    background-color: #0000000f;
    border-radius: 30px;
} */