@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}
main{
    margin-right: 4rem;
    margin-left: 4rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 170px;
}

li{
    list-style: none;
    display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav-link{
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color:#2B394e;
    font-weight: 800;
}

.sign-in{
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
    color:#2B394e;
    font-weight: 800;

}
.sign-up{
    text-decoration: none;
    font-size: 19px;
    font-weight: 800;
    padding: 12px 22px;
    color: #FFFFFF;
    background-color: #646eff;
    border-radius: 30px;
}
.icons{
    font-size: 25px;
}
.logo{
    margin-left: -7rem;
}

/* for dot icons bar */
.dot-bar{
    position: relative;
}
.icon-nav{
    width: 155px;
    height: 250px;
    position: absolute;
    top: 100%;
    left: -2rem;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    background-color: #EDEDF1;
    border-radius: 15px;
    display: none;
}
.nva-icon{
    display: flex;
}
.nav-bar{
    padding: 5px;
    text-decoration: none;
    color: #2B394e;
    font-weight: 900;
    margin-left: 2rem;
}
@media(max-width:1020px){
    #nav{
        display: none;
    }
    #img{
        margin-left: 7rem;
    }
    .sign-up,.sign-in,.search{
        display: none;
    }
    #bar{
        display: flex;
    }
}
/* work for menubar */
.bar{
    text-decoration: none;
    margin-left: 1rem;
    display: none;
}

/* to asing reletive */
.signup{
    position: relative;
}
.side-menu{
    position: absolute;
    top: 8rem;
    right: 3rem;
    /* padding-left: 4rem;
    padding-right: 1rem; */
    width: 200px;
    height: 77vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: #EDEDF1;
    border-radius: 20px;
    font-weight: 900;
    flex-direction: column;
    display: none;
}
#side-menu-ul >li{
    padding-top: 10px;
    margin-right: 1rem;
}

.li-up-1{
    margin-top: .20rem;
    background-color: #3a45de;
    padding: 10px 8px;
    border-radius:30px ;
    color: #FFFFFF;
    text-decoration: none;
    
}
.h2-container{
    width: 100%;
    height: 50px;
    background-color: #3a45de;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 1.5rem;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.search-bar-menu{
    color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 10px;

}